<div>
	<h1>Lista de actividades</h1>
	<a routerLink="/create">Crear una actividad nueva</a>
	<!--<app-create></app-create>-->
	
	<div class="grd-row-col-4">
		<div class="activities_container">
			<div class="row" *ngFor="let activity of activities">
				<div class="column">
					<div>
						{{activity.data.nombre}}
					</div>

					<div>
						{{ activity.data.fecha | date:'longDate' }}
					</div>
				</div>
				<div class="column">
					<div>
						<img [src]="activity.data.prediccion">
					</div>
				</div>
				<div>
					<div>
						<button class="btn--green btn--s btn1">Editar</button>
						<button class="btn--red btn--s btn2">Eliminar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>